annotated-types==0.7.0
anyio==4.12.1
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
eval_type_backport==0.3.1
googleapis-common-protos==1.72.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ImageHash==4.3.2
ImageIO==2.37.2
importlib_metadata==8.7.1
invoke==2.2.1
lazy_loader==0.4
-e git+https://github.com/ark2016/lecture-scribe.git@4d5d8733ff4ab8b07ae99472fb18b7bda1663e4e#egg=lecture_transcriber
markdown-it-py==4.0.0
mdurl==0.1.2
mistralai==1.12.0
networkx==3.6.1
numpy==2.4.2
opencv-python==4.13.0.92
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
packaging==26.0
pillow==12.1.0
protobuf==6.33.5
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyWavelets==1.9.0
PyYAML==6.0.3
requests==2.32.5
rich==14.3.2
scikit-image==0.26.0
scipy==1.17.0
six==1.17.0
tenacity==9.1.4
tifffile==2026.1.28
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
zipp==3.23.0
